/*this is the style sheet for my drop down menus*/
h1{
	text-align:center;
	color:#ff9900;
	font-family:"Comic Sans MS", Cursive, Sans-sarif;
}

#Menu * {
    margin:0; 
    padding:0;
	color:#ff9900;
	border:1px dashed #0077ff; /*blue*/
    }
#Menu li{
    position:relative;
    float:left;
    list-style:none;
    }
#Menu li a{
    width:200px;
    height:40px;
    line-height:40px;
    display:block;
    text-decoration:none;
    text-align:center;
    background-color:#2f4f4f; 
    font-weight:bold;
    }
#Menu li a:hover{
    background-color:#b4bfc4; 
    text-decoration:underline;
    }
#Menu ul ul{
    position:absolute;
    visibility:hidden; /*this attribute hides the choices until you hover over them*/
    z-index:10000;
    }
#Menu ul li:hover ul{
    visibility:visible; 
    }
body{
	background-color:#808000;
}
img{ 
	display:block;
	padding-top:5px;
}
.bio{
	border:3px dashed #fcf955; /*this color is yellow*/
	margin-top:10px;
	margin-bottom:10px;
	color:Black;
	font-weight:bold;
	font-size:16px;
	width:400px;
}

